# Ignore Mac OS folder system files:
.DS_Store

# Ignores misc. local folder:
Other

# Ignores local CircuitPython library folder. 
# This folder is contained in Adafruit's CircuitPython
# Library bundle. The latest version should be downloaded from 
# Adafruit's website.  

CIRCUITPY/lib